<% form_for(@exercise) do |f| %>
  <fieldset>
    <legend>Add exercise</legend>
    <%= f.error_messages %> 
    <div> 
      <%= f.label :name %>
      <%= f.text_field :name %> 
    </div>
    <div> 
      <%= f.label :time %>
      <%= select_time 0,  :include_seconds => true %> 
    </div>
    <div> 
        <%= f.submit "Create" %> 
    </div>
  </fieldset>
<% end %>