<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <%= stylesheet_link_tag('blueprint/screen') %>
    <%= stylesheet_link_tag('screen') %>
    <%= javascript_include_tag(:defaults) %>
    <title><%= @page_title || 'Drill Sergeant' %></title>
  </head>
  <body>
    <div class='container'>
      <div id='header'>
        <h2>Unnamed sequencing app</h2>
      </div>
      <% if flash[:notice] -%> 
        <div id="notice" class="notice"><%= flash[:notice] %></div> 
      <% end -%>
      <div id='sidebar' class='span-5 box'>
        <ul>
          <li><strong>Exercises</strong></li>
          <ul>
            <li><%= link_to 'Show all', exercises_path %></li>
            <li><%= link_to 'Create new', new_exercise_path %></li>
          </ul>
          <li><strong>Sequences</strong></li>
          <ul>
            <li><%= link_to 'Show all', sequences_path %></li>
            <li><%= link_to 'Create new', new_sequence_path %></li>
          </ul>
        </ul>
      </div>
      <div id='content' class='span-18 last'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
