<% form_for(@sequence) do |f| %>
  <fieldset>
    <legend>Edit sequence</legend>
    <%= f.error_messages %> 
    <div> 
      <%= f.label :name %>
      <%= f.text_field :name %> 
    </div>  
    <div> 
        <%= f.submit "Save" %> 
    </div>
  </fieldset>
<% end %>

<div id='exercise-list'>
  <%= render :partial => 'exercise_list' %>
</div>

<% form_remote_tag :url => { :action => :add_exercise, :id => @sequence.id } do %>
  <%= select_tag :exercise, options_for_select(@exercises.collect{|exercise| [exercise.name, exercise.id]}) %>
  <%= submit_tag 'Add exercise' %>
<% end -%>

